$header-text-color: rgba(0, 0, 0, 0.5);
$break-medium: 768px;
$break-large: 1024px;
$break-small: 425px;
$break-xsmall: 320px;
$button-card-color: rgba(0, 124, 255, 1);

.navbar-toggler:not(:disabled):not(.disabled) {
    outline: none;
}

@media (min-width: $break-medium) {
    .navbar-expand-md .navbar-nav .nav-link {
        padding-right: 1.5rem;
        padding-left: 1.5rem;
        outline: none;
    }
}

@media screen and (max-width: $break-small) {
    body {
        margin-top: 25%
    }

    .home-container {
        padding: 0;
        max-width: 1400px;
        margin: 0;
    
        .home-container__side-menu{
            display: none;
        }

        .home-container__search {
            margin: 0 0 4% 0;
            flex-grow: 1;
        }

        .home-container__row.row, .home-container__content-row {
            margin: 0;
            padding: 0
        }
    }
}


@media screen and (min-width: 426px) and (max-width: $break-medium) {

    body {
        margin-top: 10%
    }

    .home-container {
        padding: 0;
        max-width: 1400px;
        margin: 0;
    
        .home-container__side-menu{
            max-width: 30%;
            height: 450px;
            margin: 0 1% 0 1%;
        }

        .home-container__search {
            margin: 0 0 4% 0;
            flex-grow: 0.66;
        }

        .home-container__row.row, .home-container__content-row {
            margin: 0;
            padding: 0
        }
    }
}

@media screen and (min-width: 769px) and (max-width: $break-large) {

    body {
        margin-top: 10%
    }

    .home-container {
        padding: 0;
        max-width: 1400px;
        margin: 0;
    
        .home-container__side-menu{
            max-width: 30%;
            height: 450px;
            margin: 0 1% 0 1%;
        }

        .home-container__search {
            margin: 0 0 4% 0;
            flex-grow: 0.67;
        }

        .home-container__row.row, .home-container__content-row {
            margin: 0;
            padding: 0
        }
    }
}

@media screen and (min-width: 1025px) {
    .home-container {
        padding: 0;
        max-width: 1400px;
        margin: 5% 0 0 0;

        .home-container__side-menu{
            max-width: 20%;
            height: 450px;
            margin: 0 1% 0 12%;
        }

        .home-container__contents{
            max-width: 800px;
        }

        .home-container__search {
            margin: 0 11.1% 2% 0;
            flex-grow: 0.62;
        }

        .home-container__image {
            height: 350px;
        }
    }
}

.brand-name {
    color: $header-text-color;

    &:focus {
        color: $header-text-color;
    }
}

.nav-item {
    text-align: center;
}

.home-container__button {
    background-color: $button-card-color;
    border-color: $button-card-color;

    &:hover {
        background-color: $button-card-color;
        border-color: $button-card-color;
    }
}

.home-container__card {
    margin-bottom: 2%
}

.home-container__row {
    justify-content: flex-end;
}

.home-container__search {
   margin: 0 11% 1% 0;
   flex-grow: 0.5;
}
