
.dropdown-menu {
  right: 0 !important;
  left: auto !important;
  min-width: 150px;
  box-shadow: -0.2px 3.5px 15px 0 rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  border: solid 0.5px #eeeeee;
  border-radius: 0 0 5px 5px;
  padding: 0;
  margin-top: 0px;


  a {
    font-size: 12px;
    text-align: left;
    font-weight: 500;
    padding: 11px 1.5rem;
    color: #1F3A4A;
    border-bottom: 1px solid #E2E6EE;

    &:hover {
      // color: #02d4bf;
    }
  }
}

.mob-dropdown {
  display: none !important;
}

@media(max-width:990px){

  .dropdown-menu {

    a {
      font-size: 12px;
      text-align: center;
      font-weight: 500;
      padding: 15px 1.5rem;
      color: #1f3a4a;
      border-bottom: 1px solid #e2e7e8;
      background: #F2F7F8;
    }

  }


  .navbar-nav {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    float: right;
    width: 100%;
    text-align: center;
  }

  .navbar-nav .nav-item .nav-link {
    background: #ffffff;
    font-size: 12.5px !important;
    border-bottom: 1px solid #D9E6EB !important;
    padding-top: 20px !important;
    padding-bottom: 20px !important;
  }

  .web-dropdown {
    display: none !important;
  }

  .mob-dropdown {
    display: block !important;
  }
}

.dropdown-toggler {
  width: 40px;
  position: relative;
  height: 40px;
  cursor: pointer;
  display: inline-block;
  border-radius: 100%;
  border: 2px solid #E7EEF2 !important;
  margin: 0 0 0 .5rem;

  img {
    border-radius: 100%;
  }
}


.dropdown-toggler::after {
  display: none;
}

